<%= form_with(url: keywords_path, class: "contents") do |form| %>
  <div class="my-5">
    <%= form.label :file, "Upload CSV Keywords", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white"  %>
    <%= form.file_field :file, accept: 'text/csv', required: true, class: "block w-full text-sm text-gray-500 file:me-4 file:py-2 file:px-4 file:rounded-lg file:border-0 file:text-sm file:font-semibold file:bg-blue-600 file:text-white hover:file:bg-blue-700 file:disabled:opacity-50 file:disabled:pointer-events-none dark:file:bg-blue-500 dark:hover:file:bg-blue-400" %>
    <p p class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="">format CSV (MAX 100 lines)</p>
  </div>

  <%= render "preview", keywords: @keywords %>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
