<tr id="<%= dom_id keyword %>" is="turbo-frame">
  <td class="h-px w-72 min-w-[18rem] whitespace-nowrap">
    <div class="px-6 py-3 whitespace-nowrap w-72">
      <span class="block text-sm text-gray-500 truncate">
        <%= keyword.content %>
      </span>
    </div>
  </td>
  <td class="h-px w-px whitespace-nowrap">
    <div class="px-6 py-3">
      <%= render 'keywords/keyword/status', keyword: keyword %>
    </div>
  </td>
  <td class="h-px w-px whitespace-nowrap px-6 py-3">
    <span class="text-gray-600 dark:text-gray-400">
      <%= keyword.total_result %>
    </span>
  </td>
  <td class="h-px w-px whitespace-nowrap px-6 py-3">
    <span class="text-gray-600 dark:text-gray-400">
      <%= keyword.total_ad %>
    </span>
  </td>
  <td class="h-px w-px whitespace-nowrap px-6 py-3">
    <span class="text-gray-600 dark:text-gray-400">
      <%= keyword.total_link %>
    </span>
  </td>
  <td class="h-px w-px whitespace-nowrap">
    <div class="px-6 py-3">
      <span class="text-sm text-gray-500">
        <%= keyword.updated_at.strftime("%Y-%m-%d %H:%M") %>
      </span>
    </div>
  </td>
  <td class="h-px w-px whitespace-nowrap">
    <div class="px-6 py-1.5">
      <%= link_to "Show", keyword, class: "py-2 px-3 inline-flex items-center gap-x-2 text-xs rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" %>
      <%= form_with(url: keyword_refresh_path(keyword), method: :post) do |form| %>
        <%= form.submit 'Refresh', class: "py-2 px-3 inline-flex items-center gap-x-2 text-xs rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" %>
      <% end %>
    </div>
  </td>
</tr>