<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <div class="flex flex-col">
    <div class="-m-1.5 overflow-x-auto">
      <div class="p-1.5 min-w-full inline-block align-middle">
        <div class="bg-white border border-gray-200 rounded-xl shadow-sm overflow-hidden dark:bg-slate-900 dark:border-gray-700">

          <!-- Header -->
          <div class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-b border-gray-200 dark:border-gray-700">
            <div class="max-w-5xl">
              <h2 class="text-2xl font-semibold text-gray-800 dark:text-gray-200">
                <%= @keyword.content %>
              </h2>
              <div class="mt-4">
                <%= render 'keywords/keyword/status', keyword: @keyword %>
              </div>
            </div>

            <div>
              <div class="inline-flex gap-x-2">
                <%= form_with(url: keyword_refresh_path(@keyword), method: :post) do |form| %>
                  <%= form.submit 'Refresh', class: "py-2 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" %>
                <% end %>
                <a class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href=<%= keywords_path %>>
                  List Keyword
                </a>
              </div>
            </div>
          </div>
          <!-- End Header -->

            <!-- Features -->
            <div class="max-w-[85rem] p-4 sm:p-lg:6  mx-auto">
              <!-- Grid -->
              <div class="grid gap-6 grid-cols-2 sm:gap-12 lg:grid-cols-3 lg:gap-8 text-center">
                <!-- Stats -->
                <div>
                  <h4 class="text-3xl sm:text-2xl font-semibold text-gray-800 dark:text-gray-200">Total Result</h4>
                  <p class="mt-2 sm:mt-3 text-2xl sm:text-3xl font-bold text-blue-600"><%= @keyword.total_result %></p>
                </div>
                <!-- End Stats -->

                <!-- Stats -->
                <div>
                  <h4 class="text-3xl sm:text-2xl font-semibold text-gray-800 dark:text-gray-200">total link</h4>
                  <p class="mt-2 sm:mt-3 text-2xl sm:text-3xl font-bold text-blue-600"><%= @keyword.total_link %></p>
                </div>
                <!-- End Stats -->

                <!-- Stats -->
                <div>
                  <h4 class="text-3xl sm:text-2xl font-semibold text-gray-800 dark:text-gray-200">Total ad</h4>
                  <p class="mt-2 sm:mt-3 text-2xl sm:text-3xl font-bold text-blue-600"><%= @keyword.total_ad %></p>
                </div>
                <!-- End Stats -->
              </div>
              <!-- End Grid -->
            </div>
            <!-- End Features -->


            <div class="mx-4 bg-blue-50 border border-blue-500 text-sm text-gray-500 rounded-lg p-5 dark:bg-blue-600/[.15]" id="">
              <div class="mb-2"> collected content at <%= @keyword.updated_at.strftime("%Y-%m-%d %H:%M") %></div>
              <iframe class="pointer-events-none" srcdoc="<%= @keyword.html_code %>" title="Search results" height="600px" width="100%"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Card -->
</div>
